In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv('D:/isds577/keystats.csv')

In [101]:
df.shape

(209342, 110)

In [102]:
list(df.columns)

['calendardate',
 'ticker',
 'dimension',
 'datekey',
 'reportperiod',
 'lastupdated',
 'accoci',
 'assets',
 'assetsavg',
 'assetsc',
 'assetsnc',
 'assetturnover',
 'bvps',
 'capex',
 'cashneq',
 'cashnequsd',
 'cor',
 'consolinc',
 'currentratio',
 'de',
 'debt',
 'debtc',
 'debtnc',
 'debtusd',
 'deferredrev',
 'depamor',
 'deposits',
 'divyield',
 'dps',
 'ebit',
 'ebitda',
 'ebitdamargin',
 'ebitdausd',
 'ebitusd',
 'ebt',
 'eps',
 'epsdil',
 'epsusd',
 'equity',
 'equityavg',
 'equityusd',
 'ev',
 'evebit',
 'evebitda',
 'fcf',
 'fcfps',
 'fxusd',
 'gp',
 'grossmargin',
 'intangibles',
 'intexp',
 'invcap',
 'inventory',
 'investments',
 'investmentsc',
 'investmentsnc',
 'liabilities',
 'liabilitiesc',
 'liabilitiesnc',
 'marketcap',
 'ncf',
 'ncfbus',
 'ncfcommon',
 'ncfdebt',
 'ncfdiv',
 'ncff',
 'ncfi',
 'ncfinv',
 'ncfo',
 'ncfx',
 'netinc',
 'netinccmn',
 'netinccmnusd',
 'netincdis',
 'netincnci',
 'netmargin',
 'opex',
 'opinc',
 'payables',
 'payoutratio',
 'pb',
 'pe',
 'pe1',
 'ppnenet',
 'prefdivis',
 'price',
 'ps',
 'ps1',
 'receivables',
 'retearn',
 'revenue',
 'revenueusd',
 'rnd',
 'roa',
 'roe',
 'roic',
 'ros',
 'sbcomp',
 'sgna',
 'sharefactor',
 'sharesbas',
 'shareswa',
 'shareswadil',
 'sps',
 'tangibles',
 'taxassets',
 'taxexp',
 'taxliabilities',
 'tbvps',
 'workingcapital']

In [132]:
df1 = df[['calendardate','ticker',
    'eps','netinc','opinc','ncfo','cashnequsd',
          'de','ebitda','fcf','marketcap','netmargin',
          'pb','pe','ps','workingcapital','ev',
          'divyield','fcfps','revenue']]

In [133]:
df1.head(10)

,calendardate,ticker,eps,netinc,opinc,ncfo,cashnequsd,de,ebitda,fcf,marketcap,netmargin,pb,pe,ps,workingcapital,ev,divyield,fcfps,revenue
0,3/31/2010,A,0.31,108000000.0,154000000.0,225000000.0,4.209000e+09,1.957,197000000.0,197000000.0,1.047669e+10,0.085,3.993,54.283,2.225,3.003000e+09,9.161694e+09,0.000,0.566,1.271000e+09
1,6/30/2010,A,0.59,205000000.0,115000000.0,90000000.0,3.879000e+09,2.245,311000000.0,63000000.0,1.004128e+10,0.148,3.584,24.080,1.994,2.818000e+09,9.840276e+09,0.000,0.182,1.384000e+09
2,9/30/2010,A,0.84,292000000.0,203000000.0,373000000.0,4.205000e+09,2.001,337000000.0,339000000.0,1.412316e+10,0.185,4.375,20.648,2.594,3.086000e+09,1.360916e+10,0.000,0.985,1.576000e+09
3,12/31/2010,A,0.56,193000000.0,211000000.0,120000000.0,2.655000e+09,1.412,284000000.0,82000000.0,1.589288e+10,0.127,4.770,19.916,2.764,3.192000e+09,1.537688e+10,0.000,0.236,1.519000e+09
4,3/31/2011,A,0.58,200000000.0,266000000.0,378000000.0,2.975000e+09,1.186,344000000.0,327000000.0,1.660175e+10,0.119,4.200,18.654,2.697,3.504000e+09,1.577075e+10,0.000,0.942,1.677000e+09
5,6/30/2011,A,0.95,330000000.0,281000000.0,252000000.0,3.101000e+09,1.086,364000000.0,220000000.0,1.239208e+10,0.195,2.956,12.209,1.917,3.718000e+09,1.145908e+10,0.000,0.632,1.691000e+09
6,9/30/2011,A,0.84,289000000.0,313000000.0,510000000.0,3.527000e+09,1.101,379000000.0,461000000.0,1.164827e+10,0.167,2.704,11.510,1.761,3.732000e+09,1.030627e+10,0.000,1.329,1.728000e+09
7,12/31/2011,A,0.66,230000000.0,271000000.0,150000000.0,3.662000e+09,1.023,344000000.0,104000000.0,1.487141e+10,0.141,3.308,14.177,2.209,4.010000e+09,1.339041e+10,0.000,0.299,1.635000e+09
8,3/31/2012,A,0.73,255000000.0,300000000.0,353000000.0,3.896000e+09,0.993,379000000.0,316000000.0,1.314943e+10,0.147,2.785,11.911,1.937,4.175000e+09,1.143043e+10,0.003,0.908,1.733000e+09
9,6/30/2012,A,0.70,243000000.0,270000000.0,240000000.0,1.923000e+09,1.003,346000000.0,191000000.0,1.280180e+10,0.141,2.629,12.588,1.877,2.121000e+09,1.309280e+10,0.005,0.549,1.723000e+09

In [134]:
df1.shape

(209342, 20)

In [135]:
#Find zeros in columns
(df1==0).astype(bool).sum(axis=0)

calendardate           0
ticker                 0
eps                 7998
netinc                67
opinc                 69
ncfo                 346
cashnequsd          1194
de                   188
ebitda                33
fcf                  348
marketcap              0
netmargin            497
pb                     7
pe                     4
ps                    12
workingcapital        27
ev                     0
divyield          120007
fcfps               1912
revenue            13682
dtype: int64

In [136]:
#Find NAs in columns
print(df1.isnull().sum())

calendardate          0
ticker                0
eps                4609
netinc             3418
opinc              3417
ncfo               5118
cashnequsd           21
de                   49
ebitda             5178
fcf                5122
marketcap          7097
netmargin         17100
pb                 7116
pe                13944
ps                23194
workingcapital    45524
ev                 7097
divyield           7305
fcfps              5158
revenue            3417
dtype: int64

In [141]:
df.earnings = df1[['eps','netinc','opinc','ncfo','ebitda',
                 'fcf','netmargin','divyield','fcfps','revenue']]
df.ratio = df1[['pb','pe','ps']]
df.value = df1[['workingcapital','ev','marketcap','cashnequsd']]
df.other = df1['de']

In [142]:
df.earnings = df.earnings.fillna(0)
df.ratio = df.ratio.fillna(0)
df.other = df.other.fillna(0)
df.value = df.value.fillna(df.value.mean())

In [143]:
new = pd.concat([df.ratio,df.earnings,df.other,df.value],axis=1)

In [144]:
new.head(10)

,pb,pe,ps,eps,netinc,opinc,ncfo,ebitda,fcf,netmargin,divyield,fcfps,revenue,de,workingcapital,ev,marketcap,cashnequsd
0,3.993,54.283,2.225,0.31,108000000.0,154000000.0,225000000.0,197000000.0,197000000.0,0.085,0.000,0.566,1.271000e+09,1.957,3.003000e+09,9.161694e+09,1.047669e+10,4.209000e+09
1,3.584,24.080,1.994,0.59,205000000.0,115000000.0,90000000.0,311000000.0,63000000.0,0.148,0.000,0.182,1.384000e+09,2.245,2.818000e+09,9.840276e+09,1.004128e+10,3.879000e+09
2,4.375,20.648,2.594,0.84,292000000.0,203000000.0,373000000.0,337000000.0,339000000.0,0.185,0.000,0.985,1.576000e+09,2.001,3.086000e+09,1.360916e+10,1.412316e+10,4.205000e+09
3,4.770,19.916,2.764,0.56,193000000.0,211000000.0,120000000.0,284000000.0,82000000.0,0.127,0.000,0.236,1.519000e+09,1.412,3.192000e+09,1.537688e+10,1.589288e+10,2.655000e+09
4,4.200,18.654,2.697,0.58,200000000.0,266000000.0,378000000.0,344000000.0,327000000.0,0.119,0.000,0.942,1.677000e+09,1.186,3.504000e+09,1.577075e+10,1.660175e+10,2.975000e+09
5,2.956,12.209,1.917,0.95,330000000.0,281000000.0,252000000.0,364000000.0,220000000.0,0.195,0.000,0.632,1.691000e+09,1.086,3.718000e+09,1.145908e+10,1.239208e+10,3.101000e+09
6,2.704,11.510,1.761,0.84,289000000.0,313000000.0,510000000.0,379000000.0,461000000.0,0.167,0.000,1.329,1.728000e+09,1.101,3.732000e+09,1.030627e+10,1.164827e+10,3.527000e+09
7,3.308,14.177,2.209,0.66,230000000.0,271000000.0,150000000.0,344000000.0,104000000.0,0.141,0.000,0.299,1.635000e+09,1.023,4.010000e+09,1.339041e+10,1.487141e+10,3.662000e+09
8,2.785,11.911,1.937,0.73,255000000.0,300000000.0,353000000.0,379000000.0,316000000.0,0.147,0.003,0.908,1.733000e+09,0.993,4.175000e+09,1.143043e+10,1.314943e+10,3.896000e+09
9,2.629,12.588,1.877,0.70,243000000.0,270000000.0,240000000.0,346000000.0,191000000.0,0.141,0.005,0.549,1.723000e+09,1.003,2.121000e+09,1.309280e+10,1.280180e+10,1.923000e+09

In [145]:
# Recheck NAs
print(new.isnull().sum())

pb                0
pe                0
ps                0
eps               0
netinc            0
opinc             0
ncfo              0
ebitda            0
fcf               0
netmargin         0
divyield          0
fcfps             0
revenue           0
de                0
workingcapital    0
ev                0
marketcap         0
cashnequsd        0
dtype: int64

In [167]:
#ROE, ROA, ROICCalculation
df2 = df[['equityusd','netinc','assets','invcap','ebit']]

In [168]:
df2.head(10)

      equityusd       netinc        assets        invcap         ebit
0  2.624000e+09  108000000.0  7.767000e+09  2.973000e+09  161000000.0
1  2.802000e+09  205000000.0  9.100000e+09  4.070000e+09  251000000.0
2  3.228000e+09  292000000.0  9.696000e+09  4.149000e+09  270000000.0
3  3.332000e+09  193000000.0  8.044000e+09  4.207000e+09  221000000.0
4  3.953000e+09  200000000.0  8.649000e+09  4.178000e+09  280000000.0
5  4.192000e+09  330000000.0  8.753000e+09  4.273000e+09  301000000.0
6  4.308000e+09  289000000.0  9.057000e+09  3.882000e+09  316000000.0
7  4.496000e+09  230000000.0  9.099000e+09  3.901000e+09  282000000.0
8  4.722000e+09  255000000.0  9.413000e+09  3.868000e+09  318000000.0
9  4.870000e+09  243000000.0  9.757000e+09  3.923000e+09  262000000.0

In [169]:
df2 = df2.fillna(0)

In [170]:
# Recheck NAs
print(df2.isnull().sum())

equityusd    0
netinc       0
assets       0
invcap       0
ebit         0
dtype: int64

In [171]:
df2['roe']= df2['netinc'] / df['equityusd']
df2['roa'] = df2['netinc'] / df['assets']
df2['roic'] = df2['netinc'] / df['invcap']

In [173]:
df2.head(10)

,equityusd,netinc,assets,invcap,ebit,roe,roa,roic
0,2.624000e+09,108000000.0,7.767000e+09,2.973000e+09,161000000.0,0.041159,0.013905,0.036327
1,2.802000e+09,205000000.0,9.100000e+09,4.070000e+09,251000000.0,0.073162,0.022527,0.050369
2,3.228000e+09,292000000.0,9.696000e+09,4.149000e+09,270000000.0,0.090458,0.030116,0.070378
3,3.332000e+09,193000000.0,8.044000e+09,4.207000e+09,221000000.0,0.057923,0.023993,0.045876
4,3.953000e+09,200000000.0,8.649000e+09,4.178000e+09,280000000.0,0.050594,0.023124,0.047870
5,4.192000e+09,330000000.0,8.753000e+09,4.273000e+09,301000000.0,0.078721,0.037701,0.077229
6,4.308000e+09,289000000.0,9.057000e+09,3.882000e+09,316000000.0,0.067084,0.031909,0.074446
7,4.496000e+09,230000000.0,9.099000e+09,3.901000e+09,282000000.0,0.051157,0.025278,0.058959
8,4.722000e+09,255000000.0,9.413000e+09,3.868000e+09,318000000.0,0.054003,0.027090,0.065926
9,4.870000e+09,243000000.0,9.757000e+09,3.923000e+09,262000000.0,0.049897,0.024905,0.061942

In [196]:
ratio_cal = df2[['roe','roa','roic']]

In [218]:
# Recheck NAs
print(ratio_cal.isnull().sum())
ratio_cal=ratio_cal.fillna(0)

roe     0
roa     0
roic    0
dtype: int64

In [219]:
#ticker, dim, etc.
info = df.iloc[:,0:6]
info.head(10)

  calendardate ticker dimension     datekey reportperiod lastupdated
0    3/31/2010      A       ARQ    6/7/2010    4/30/2010    9/1/2020
1    6/30/2010      A       ARQ    9/7/2010    7/31/2010    9/1/2020
2    9/30/2010      A       ARQ  12/20/2010   10/31/2010    9/1/2020
3   12/31/2010      A       ARQ    3/9/2011    1/31/2011    9/1/2020
4    3/31/2011      A       ARQ    6/7/2011    4/30/2011    9/1/2020
5    6/30/2011      A       ARQ    9/7/2011    7/31/2011    9/1/2020
6    9/30/2011      A       ARQ  12/16/2011   10/31/2011    9/1/2020
7   12/31/2011      A       ARQ    3/5/2012    1/31/2012    9/1/2020
8    3/31/2012      A       ARQ    6/4/2012    4/30/2012    9/1/2020
9    6/30/2012      A       ARQ    9/5/2012    7/31/2012    9/1/2020

In [220]:
#Combine info, ratio_cal, and new.
keystats_new = pd.concat([info, new, ratio_cal], axis =1)

In [221]:
keystats_new.shape

(209342, 27)

In [222]:
# Recheck NAs
print(keystats_new.isnull().sum())

calendardate      0
ticker            0
dimension         0
datekey           0
reportperiod      0
lastupdated       0
pb                0
pe                0
ps                0
eps               0
netinc            0
opinc             0
ncfo              0
ebitda            0
fcf               0
netmargin         0
divyield          0
fcfps             0
revenue           0
de                0
workingcapital    0
ev                0
marketcap         0
cashnequsd        0
roe               0
roa               0
roic              0
dtype: int64

In [223]:
pricedata = pd.read_csv('D:/isds577/keystats_to_train.csv')

In [224]:
pricedata = pricedata[['stock_price','sp500_price','stock_p_change','sp500_p_change']]

In [225]:
pricedata.head(10)

   stock_price  sp500_price  stock_p_change  sp500_p_change
0    22.610779    94.826889            6.54            2.03
1    18.692194    84.056419            1.23            7.37
2    21.940151    93.438423            4.64            3.74
3    27.239445   103.493202           -1.09            1.57
4    29.442015   109.596611           12.37            2.65
5    33.603867   109.624939          -17.47           -1.33
6    20.546291    94.477806           30.85           13.65
7    22.965818   105.454376           22.19            5.04
8    29.330460   118.837509           -4.38           -0.30
9    25.926455   115.457634           -3.31            1.90

In [226]:
keystats_new = pd.concat([keystats_new, pricedata],axis=1)

In [227]:
keystats_new.head(10)

,calendardate,ticker,dimension,datekey,reportperiod,lastupdated,pb,pe,ps,eps,...,ev,marketcap,cashnequsd,roe,roa,roic,stock_price,sp500_price,stock_p_change,sp500_p_change
0,3/31/2010,A,ARQ,6/7/2010,4/30/2010,9/1/2020,3.993,54.283,2.225,0.31,...,9.161694e+09,1.047669e+10,4.209000e+09,0.041159,0.013905,0.036327,22.610779,94.826889,6.54,2.03
1,6/30/2010,A,ARQ,9/7/2010,7/31/2010,9/1/2020,3.584,24.080,1.994,0.59,...,9.840276e+09,1.004128e+10,3.879000e+09,0.073162,0.022527,0.050369,18.692194,84.056419,1.23,7.37
2,9/30/2010,A,ARQ,12/20/2010,10/31/2010,9/1/2020,4.375,20.648,2.594,0.84,...,1.360916e+10,1.412316e+10,4.205000e+09,0.090458,0.030116,0.070378,21.940151,93.438423,4.64,3.74
3,12/31/2010,A,ARQ,3/9/2011,1/31/2011,9/1/2020,4.770,19.916,2.764,0.56,...,1.537688e+10,1.589288e+10,2.655000e+09,0.057923,0.023993,0.045876,27.239445,103.493202,-1.09,1.57
4,3/31/2011,A,ARQ,6/7/2011,4/30/2011,9/1/2020,4.200,18.654,2.697,0.58,...,1.577075e+10,1.660175e+10,2.975000e+09,0.050594,0.023124,0.047870,29.442015,109.596611,12.37,2.65
5,6/30/2011,A,ARQ,9/7/2011,7/31/2011,9/1/2020,2.956,12.209,1.917,0.95,...,1.145908e+10,1.239208e+10,3.101000e+09,0.078721,0.037701,0.077229,33.603867,109.624939,-17.47,-1.33
6,9/30/2011,A,ARQ,12/16/2011,10/31/2011,9/1/2020,2.704,11.510,1.761,0.84,...,1.030627e+10,1.164827e+10,3.527000e+09,0.067084,0.031909,0.074446,20.546291,94.477806,30.85,13.65
7,12/31/2011,A,ARQ,3/5/2012,1/31/2012,9/1/2020,3.308,14.177,2.209,0.66,...,1.339041e+10,1.487141e+10,3.662000e+09,0.051157,0.025278,0.058959,22.965818,105.454376,22.19,5.04
8,3/31/2012,A,ARQ,6/4/2012,4/30/2012,9/1/2020,2.785,11.911,1.937,0.73,...,1.143043e+10,1.314943e+10,3.896000e+09,0.054003,0.027090,0.065926,29.330460,118.837509,-4.38,-0.30
9,6/30/2012,A,ARQ,9/5/2012,7/31/2012,9/1/2020,2.629,12.588,1.877,0.70,...,1.309280e+10,1.280180e+10,1.923000e+09,0.049897,0.024905,0.061942,25.926455,115.457634,-3.31,1.90

In [228]:
# Recheck NAs
print(keystats_new.isnull().sum())

calendardate          0
ticker                0
dimension             0
datekey               0
reportperiod          0
lastupdated           0
pb                    0
pe                    0
ps                    0
eps                   0
netinc                0
opinc                 0
ncfo                  0
ebitda                0
fcf                   0
netmargin             0
divyield              0
fcfps                 0
revenue               0
de                    0
workingcapital        0
ev                    0
marketcap             0
cashnequsd            0
roe                   0
roa                   0
roic                  0
stock_price       48807
sp500_price       48807
stock_p_change    48807
sp500_p_change    48807
dtype: int64

In [229]:
keystats_new = keystats_new.dropna()

In [230]:
# Recheck NAs
print(keystats_new.isnull().sum())

calendardate      0
ticker            0
dimension         0
datekey           0
reportperiod      0
lastupdated       0
pb                0
pe                0
ps                0
eps               0
netinc            0
opinc             0
ncfo              0
ebitda            0
fcf               0
netmargin         0
divyield          0
fcfps             0
revenue           0
de                0
workingcapital    0
ev                0
marketcap         0
cashnequsd        0
roe               0
roa               0
roic              0
stock_price       0
sp500_price       0
stock_p_change    0
sp500_p_change    0
dtype: int64

In [231]:
keystats_new.shape

(160535, 31)

In [233]:
keystats_new.to_csv("D:/isds577/keystats_new.csv")